{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row mb-4">
  <div class="col-lg-8">
    <h1 class="display-4">Stock Trading System</h1>
    <p class="lead">Simple and convenient way to buy and sell stocks, you deserve it!</p>
  </div>
  <div class="col-lg-4 text-end align-self-center">
    <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2">Log In</a>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Log Out</a>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="card"><div class="card-body">
      <h5 class="card-title">Get start from here.</h5>
      <p class="card-text">Invest Smart, Trade Confidently</p>
      <a href="#" class="btn btn-secondary">Learn More</a>
    </div></div>
  </div>
  
  <div class="col-md-4">
    <div class="d-grid gap-2">
      <button class="btn btn-light">Check it now!</button>
      <button class="btn btn-dark">Need a guide?</button>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="alert" role="alert">
      <h5 class="alert-heading">Do you know?</h5>
      <p>Small steps in investing can lead to big gains！</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="alert border border-dark" role="alert">
      <h5 class="alert-heading">Market Snapshot</h5>
      <p>Provides a real-time summary of major indexes and popular stocks, including price, change percentage, and trading volume, so users can quickly grasp overall market trends. Users can click a stock name to view detailed candlestick charts and historical data.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="alert border border-dark" role="alert">
      <h5 class="alert-heading">About Stock Street</h5>
      <p>Stock Street is a simple and easy-to-use stock trading platform that provides investors with real-time market data, convenient order placement, and basic analysis tools, making every investment more secure and worry-free.</p>
    </div>
  </div>
</div>

{% endblock %}